* {
	margin: 0;
  padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100svh;
	display: grid;
}

[data-modal] {
	left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

